.otherskill-title {
  color: #fff;
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 700;
}

.otherskill-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.otherskill-chips-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.otherskill-chip {
  display: flex;
  padding: 1px 10px;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-family: var(--font-text);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
