.SoftList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

ul {
  color: #fff;
  font-family: var(--font-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 28px;
}
