.icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;

  & p {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.68px;
    color: #000;
  }
}
