* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111;
  --font-color: #fff;
  --font-title: 'podkova', sans-serif ;
  --font-text: 'poppins', sans-serif;
}

body{
  background-color: var(--bg-color);
  min-height: 100vh;
  color: #fff;
}

.sectionS {
  min-height: 100vh;
  position: relative; 
  

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; 
}


.sectionS-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .sectionS-content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 70vw;
  }
}

@media (max-width: 1470px) {
  .sectionS-content {
    align-items: center;
    gap: 60px;
    width: 70vw;
  }
}