.aboutMe {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#bulb {
  width: 439px;
}

#bg-About {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

@media (max-width: 1280px) {
  #bg-About {
    object-fit: cover;
  }
}
